 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Jacob Jensen and these are some of the projects i've worked on over the years! More to come in the near future. Making video games are my passion and my goal is too one day create a game that moved others the same way games have moved myself.</p>
                </div>
                <div class="col-lg-4">
                    <p>My hobbies include playing video games,from the first day I played Minecraft, to nowadays with Valorant to Final Fantasy 14. I have a huge passion for music as well, and have played the piano since I was young, and of course I love coding and have been at it ever since I learned how.  </p>
                </div>
            </div>
        </div>
    </section>
